<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Map Pinger</title>
  </head>
  <body>
    <div id="main">
      <h1 class="underline">Server IP</h1>
      <!-- add stuff -->
      <h2>mc.diffusehyperion.me</h2>
      <h3>You can join with version 1.9 and above.</h3>
      <h3>Joining the Origins server requires you to install this modpack: (TODO: INSERT MODPACK LINK LOL)</h3>
      <h1 class="underline">Rules</h1>
      <!-- add stuff -->
      <h2>
        (TO BE ADDED)
      </h2>
    </div>
  </body>
</html>
