<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Map Pinger</title>
  </head>
  <body>
    <div id="main">
      <h1 class="underline">Server IP</h1>
      <h2>mc.diffusehyperion.me</h2>
      <h3>You can join with version 1.9 and above.</h3>
      <h3>Joining the survival server requires you to be running version 1.20.</h3>
      <!-- add stuff -->
      <h1 class="underline">Rules</h1>
      <h2>You are NOT allowed to join the server with any mods or texture packs that IS ABLE to provide a significant and unfair advantage compared to a vanilla installation.</h2>
      <h3>This means you are not allowed to join with wurst, meteor, impact, whatever cheat mods there are</h3>
      <h3>I dont really have a concrete term for significant, but if it gives a combat, movement or resource gathering advantage, it probably isnt allowed, but pls ask me to verify</h3>
      <h3>Fullbright IS ALLOWED, but you are NOT ALLOWED to install a cheat mod "just for fullbright"</h3>
      <h3>Baritone is NOT ALLOWED at the moment</h3>
    </div>
  </body>
</html>
